@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="text-center my-2 col-12">
        <div class="card m-auto col-8 p-3">
            <img src="~/imgs//690b4ef1-60ef-457c-b9b0-69cf40ed7ace (1).jpg"  style="width: 12rem" class="card-img-top m-auto" alt="...">
            <div class="card-body">
                <h5 class="card-title">Carlos José Aracena Sosa</h5>
                <p class="card-text">
                    <strong class="col-12"> AV. JOHN F. KENNEDY, CENTRO DE OPERACIONES POPULAR</strong>

                </p>
                <p class="text-center">
                    Yo como analista de negocios me encargo de encontrar y tratar de
                    recomendar la mejor solución a un problema, para luego
                    proceder a documentar dicho problema y seguir una serie de
                    procesos de la empresa, además de hacer una parte
                    administrativa ya que también me comunicó con los usuarios y
                    personal técnico.
                </p>
                <p class="card-text">
                    <strong class="col-12">PROGRAMADOR PASANTE • BANRESERVAS • 240 HORAS</strong>
                </p>
                <class ="card-text>
                    AV. ENRIQUE JIMENEZ MOYA, BANCO BANRESERVAS
                    Programador Pasante en el banco Banreservas con las tecnologías
                    de .net, ASP.net MVC y SQL Server además de unas librerías
                    (frameworks) de terceros como Bootstrap y Reporting Services.
                </class>

                <p class="mt-2"><strong>Skills:</strong></p>

                <ul style="list-style: none;">
                    <lil>
                        HTML
                    </lil>
                    <li>CSS</li>
                    <li>
                        BOOTSTRAP (y varias
                        librerias del frontend)
                    </li>
                    <li>
                        JAVASCRIPT (Angular,
                        React)
                    </li>
                    <li>MONGODB</li>
                    <li>NODE.JS (EXPRESS)</li>
                    <li>ASP.NET MVC</li>
                    <li>
                        SQL (SQL Server)
                    </li>
                </ul>

                <a href="#" class="btn btn-primary col-12 my-1">Repositorio de Github</a>

            </div>
        </div>
    </div>
</div>
